[submodule "hardening/playbooks/ansible-collection-hardening"]
	path = hardening/playbooks/ansible-collection-hardening
	url = https://github.com/dev-sec/ansible-collection-hardening.git
[submodule "prometheus/playbooks/roles/cloudalchemy.prometheus"]
	path = prometheus/playbooks/roles/cloudalchemy.prometheus
	url = https://github.com/cloudalchemy/ansible-prometheus.git
[submodule "prometheus/playbooks/roles/cloudalchemy.node_exporter"]
	path = prometheus/playbooks/roles/cloudalchemy.node_exporter
	url = https://github.com/cloudalchemy/ansible-node-exporter.git
[submodule "prometheus/playbooks/roles/cloudalchemy.alertmanager"]
	path = prometheus/playbooks/roles/cloudalchemy.alertmanager
	url = https://github.com/cloudalchemy/ansible-alertmanager.git
[submodule "prometheus/playbooks/roles/cloudalchemy.grafana"]
	path = prometheus/playbooks/roles/cloudalchemy.grafana
	url = https://github.com/cloudalchemy/ansible-grafana.git
[submodule "wordpress/playbooks/roles"]
	path = wordpress/playbooks/roles
	url = https://github.com/opentelekomcloud-blueprints/ansible-wordpress.git
[submodule "mysql/playbooks/roles/geerlingguy.ansible-role-mysql"]
	path = mysql/playbooks/roles/geerlingguy.ansible-role-mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
[submodule "apache/playbooks/roles/geerlingguy.ansible-role-apache"]
	path = apache/playbooks/roles/geerlingguy.apache
	url = https://github.com/geerlingguy/ansible-role-apache.git
[submodule "php/playbooks/roles/geerlingguy.ansible-role-php"]
	path = php/playbooks/roles/geerlingguy.php
	url = https://github.com/geerlingguy/ansible-role-php.git
[submodule "php/playbooks/roles/geerlingguy.ansible-role-php-versions"]
	path = php/playbooks/roles/geerlingguy.php-versions
	url = https://github.com/geerlingguy/ansible-role-php-versions.git
[submodule "php/playbooks/roles/geerlingguy.ansible-role-repo-remi"]
	path = php/playbooks/roles/geerlingguy.repo-remi
	url = https://github.com/geerlingguy/ansible-role-repo-remi.git
