clouds:
  otc:
    auth:
      auth_url: https://iam.eu-de.otc.t-systems.com/v3
      project_name: {{ os_project_name }}
      username: {{ os_username }}
      password: {{ os_password }}
      user_domain_name: {{ os_user_domain_name }}
      project_domain_name: {{ os_user_domain_name }}